<h1>Welcome to our Intro to Rails Project!</h1>

<div>
    <h2>Our customers</h2>
    <ul class="list-group list-group-flush">
        <% @customers.each do |customer| %>
            <li><%= link_to customer.first_name, customer %></li>
        <% end %>
    </ul>

    <h2>Our products</h2>
    <ul class="list-group list-group-flush">
        <% @products.each do |product| %>
            <li><%= link_to product.product_name, product %></li>
        <% end %>
    </ul>

    <h2>Our dogs</h2>
    <ul class="list-group list-group-flush">
        <% @dogs.each do |dog| %>
            <li><%= link_to dog.dog_name, dog %></li>
        <% end %>
    </ul>
</div>


