<div class="container">
    <div class="row my-5">
        <div class="col d-flex justify-content-center">
            <h1>Welcome to our Intro to Rails Project!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col px-5">
            <p>Our Intro to Rails Project features 4 tables: Product, Customer, Dogs, and CustomerProducts. We used a mixture of Faker, CSV, and JSON files in order to fill our database. A customer will be able to buy multiple products and own multiple dogs. Many products can be bought by many customers. A dog is owned by only one customer.</p>
        </div>
    </div>
</div>



