<h1>Customers</h1>

<ol>
  <% @customers.each do |customer| %>
  <li>
    <%= link_to "#{customer.first_name} #{customer.last_name}", customer_path(customer)%>
  </li>
  <% end %>
</ol>

<div>
  <p>
  <%= next_page(@customers, :customers_path)%>
  <% if params[:page].to_i >= 2 %>
    <%= "Page #{params[:page]}" %>
  <% end %>
  <%= previous_page(@customers, :customers_path)%>
  </p>
</div>
