<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1>About</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
          <%= image_tag ("ERD.png") %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div>
        <h2><%= link_to 'Customers Table', customers_path %></h2>
        <p>
          This table stores the customer's information, such as their first and last name, and age.
          <br>The data is taken from <a href="https://github.com/faker-ruby/faker">Faker</a>,
          which is a tool for generating fake data.
        </p>

        <h2><%= link_to 'Dogs Table', dogs_path %></h2>
        <p>This table stores the dog's information, such as their main breed, sub breed, name, and a reference to the Customer table.
          <br>The data is taken from <a href="https://dog.ceo/dog-api/">Dog API</a> website.
        </p>

        <h2><%= link_to 'Products Table', products_path %></h2>
        <p>This table stores the product's information, such as their name, category, price, and description.
          <br>The data is taken from <a href="https://www.kaggle.com/datasets/bhavikjikadara/grocery-store-dataset">Kaggle</a> website by
          <a href="https://www.kaggle.com/bhavikjikadara">Bhavik Jikadara</a>, which is data originally from Costco's online marketplace.
        </p>

        <h2>Customer Product</h2>
        <p>
          This table stores the entries linking a customer to the product they have purchased.
          <br>The data is created based on what the customer has purchased.
        </p>
      </div>
    </div>
  </div>
</div>



